{% extends 'base.html'%}
{% block title%}Home {%endblock title%}
{% block body %}


<div class="container my-2">
    <h2>My ToDo</h2>
    <form action="/" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name='title' id="title">
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Description</label>
                <input type="text" class="form-control" name='desc' id="desc">
            </div>
            <button type="submit" class="btn btn-outline-dark ">Submit</button>
        </form>
</div>

<div class="container my-5">
    <h2>ToDo List</h2>

    <tbody>
    {% if alltodo|length==0 %}
    <div class="alert alert-info" role="alert">
  Please Add some Data!
</div>
    {%else%}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">S.No</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Timezone</th>
            <th scope="col">Action</th>
        </tr>

        </thead>
        {% for todo in alltodo %}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{todo.title}}</td>
            <td>{{todo.desc}}</td>
            <td>{{todo.date_created}}</td>
            <td>
                <a href='/update/{{todo.sno}}' type="button" class="btn btn-outline-dark btn-sm mx-2">Update</button></a>
                <a href='/delete/{{todo.sno}}' type="button" class="btn btn-outline-dark btn-sm mx-1">Delete</button></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock body %}